*{
    padding: 0;
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    
    min-width: auto;
    height: 100vh;
    /*background-color: #071013 ;*/
    background-image: linear-gradient(rgba(7, 16, 19, 0.5), rgba(7, 16, 19, 0.5)), url('../images/brooke-cagle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin: auto;
    padding-left: 10px;
}

.logo{
    color: #ffae4e;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 10px;
}

nav{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
   
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}



.wlcm{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.wlcm h1{
    color: #ffae4e;
    font-size: 40px;
    padding: 12px;
    align-items: center;
    text-align: center;
}
.wlcm p{
    color: #fff;
    text-align: center;
    align-items: center;
    
}

/*styling order button*/
.text-box{
    width: 90%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #86f9bc;
    border: 1px solid #ffae4e;
    border-radius: 8px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #343b3d;
    background: #343b3d;
    transition: 1s;
    

}

nav .fa{
    display: none;
}

@media (max-width: 700px) {
    .wlcm{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #343b3d;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
}

/*style for gallery section*/
.gallery {
    padding-top: 100px;
    text-align: center;
    margin: auto;
    width: 80%;
}
.gallery p{
    padding-top: 8px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.gallery img{
    padding: 12px;
    width: 300px;
    height: 200px;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .gallery{
        font-size: 20px;
        
    }
    .row{
      
        justify-content: center;
        flex-wrap: wrap;
    }
  
}


/*style for profession container*/
.profession{
    text-align: center;
    margin-top: 5%;
    padding-top: 8px;
    
}
.profession p{
    padding-top: 8px;
}
.pos_col{
    
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    margin-top: 30px;
    left: 10%;
    background-color:  #F3e1dd;
}
.pos_col img{
   float: left;
   width: 50%;
   max-height: 100%;
   max-width: 300px;
   margin-right: 20px;
   border: none;
}

.pos_col h2{
 
  padding-right: 290px;
   
}

@media (max-width: 700px) {
    .profession{
        font-size: 20px;
        
    }
    .pos_col{
      
        justify-content: center;
        flex-wrap: wrap;
    }
  
}



/*style for footer section*/
.footer{
    
    width: 100%;
    padding: 20px ;   
    text-align: center;
    margin-top: 6%;
    
  

}
.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
.icons{
    margin-top: 10px;
}
.icons i{
  margin-right: 10px;
    
}







    

