
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} About {% endblock  %} </title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
  <div class="icon">
    <div><a href="main.html"><h2 class="logo">Caffein' It</h2></a></div>
</div>
<section class="header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="main.html">HOME</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about_us.html">ABOUT US</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="login.html">SIGN UP</a></li>
                </ul>
            </div>
         </nav>
</section>

<section class="about_us">
  <h1>Dedication</h1>
  
</section>
<div class="container">
  <img src="static/images/mimi-thian.jpg">
 
<div class="text">
  <h1>Our Team</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora soluta mollitia aperiam accusamus nesciunt tempore temporibus, cum quas commodi architecto culpa praesentium esse vitae eum, distinctio iusto id quod ducimus.</p>
</div>
</div>

<section class="footer">
    
  <h4>About Us</h4>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Magnam doloribus iste fugiat numquam officia porro, <br>qui reprehenderit sequi consequuntur aliquam eligendi illum omnis quas voluptates <br>repudiandae quaerat, iusto ab laboriosam.</p>
<div class="icons">
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-x-twitter"></i>
  <i class="fa-brands fa-tiktok"></i>
  
  
  
</div>


</section>

<script src="https://kit.fontawesome.com/be4fbb70d9.js" crossorigin="anonymous"></script>
</body>

</body>
</html>