{% extends "base.html" %}

{% load static %}

   
   {% block title %}
   <title> About </title>
   <link rel="stylesheet" href="{% static 'css/about.css' %}">
   {% endblock title %}



{% block content %}
<section class="about_us">
  <h1>Dedication</h1>
  
</section>
<div class="container">
  <img src="{% static 'images/mimi-thian.jpg' %}">
 
<div class="text">
  <h1>Our Team</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora soluta mollitia aperiam accusamus nesciunt tempore temporibus, cum quas commodi architecto culpa praesentium esse vitae eum, distinctio iusto id quod ducimus.</p>
</div>
</div>
{% endblock content %}

