{% extends "base.html" %}

{% load static %}

    {% block title %}
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock title %}


    {% block content %}
    <!--login form start-->
</section>         
    <div class="container">
  
        <form method='post'>
            <div class="form-box">
                <h1>login or Sign Up <br>with us</h1>
                <form>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <p>Lost Password <a href="#">Click Here</a></p>
                    </div>
                    <div class="btn-field">
                        <button type="button">Sign up</button>
                        <button type="button" class="disable">Sign in</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
    <!--login form end-->
    {% endblock content %}
