{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} cafein it {% endblock  %} </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  {% block content %}

    <section class="header">
        <div class="icon">
            <div><a href="main.html"><h2 class="logo">Caffein' It</h2></a></div>
        </div>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="main.html">HOME</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="login.html">SIGN UP</a></li>
                </ul>
            </div>
         </nav>
         <section class="wlcm">
            <h1>Welcome To Our Caffein' It Shop!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> Quasi cupiditate dolorem q</p>
             <!--adding order button-->
            <div class="text-box">
                <a href="order.html" class="btn">Make Your Oder</a>
            </div>
         </section>
        
        
    
    </section>

    <section class="gallery">
        <h2>What We Offer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio necessitatibus <br> and many more </p>
        <!--first row-->
       <div class="row">
        <div class="beaverage-col">
            <img src="static/images/james-william-qMpsMY3q-Qg-unsplash.jpg">
            <h4>coffee</h4>
        </div>

        <div class="beaverage-col">
            <img src="static/images/brenda-godinez-CrK843Pl9a4-unsplash.jpg">
            <h4>milkshake</h4>
        </div>

        <div class="beaverage-col">
            <img src="static/images/mahbod-akhzami-VM6uuMFPIGM-unsplash.jpg">
            <h4>soft drink</h4>
        </div>
       </div>
       <!--adding second 
       <div class="row">
        <div class="beaverage-col">
            <img src="images/brooke-lark-pGM4sjt_BdQ-unsplash.jpg">
            <h4>cupcakes</h4>
        </div>

        <div class="beaverage-col">
            <img src="images/yuheng-chen-YuKwHTNVAiI-unsplash.jpg">
            <h4>hotdog</h4>
        </div>

        <div class="beaverage-col">
            <img src="images/michael-chiara-BLy3LMYMVvE-unsplash.jpg">
            <h4>muffins</h4>
        </div>
       </div>
     </section>row-->
     <section class="profession">
        <h2>Profession</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio necessitatibus  </p>

        <div class="pos_col">
            <img src="static/images/coffee-6487101_1280.jpg">
           <div class="text_content">
            <h2>coffee automation</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe sunt inventore quidem dignissimos dolorum modi accusamus in nisi illo. Vitae libero, dicta repellendus sint a incidunt tenetur fuga fugit voluptatibus.</p>
           </div>

        </div>
     </section>

     {% endblock %}

 <section class="footer">
    
        <h4>About Us</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Magnam doloribus iste fugiat numquam officia porro, <br>qui reprehenderit sequi consequuntur aliquam eligendi illum omnis quas voluptates <br>repudiandae quaerat, iusto ab laboriosam.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
        
        
        
    </div>
    

 </section>

 <script src="https://kit.fontawesome.com/be4fbb70d9.js" crossorigin="anonymous"></script>
</body>
</html>
