{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cafein it</title>
    {% endblock title %}
  </head>
  <body>
    {% block content %}

    <section class="gallery">
      <h2>What We Offer</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio
        necessitatibus <br />
        and many more
      </p>
      <!--first row-->
      <div class="row">
        <div class="beaverage-col">
          <img
            src="{% static 'images/james-william-qMpsMY3q-Qg-unsplash.jpg' %}"
          />
          <h4>coffee</h4>
        </div>

        <div class="beaverage-col">
          <img
            src="{% static 'images/brenda-godinez-CrK843Pl9a4-unsplash.jpg' %}"
          />
          <h4>milkshake</h4>
        </div>

        <div class="beaverage-col">
          <img
            src="{% static 'images/mahbod-akhzami-VM6uuMFPIGM-unsplash.jpg' %}"
          />
          <h4>soft drink</h4>
        </div>
      </div>

      <!--second row-->
      <div class="row">
        <div class="beaverage-col">
          <img src="{% static 'images/cupcakes1.jpg' %}" />
          <h4>cupcakes</h4>
        </div>

        <div class="beaverage-col">
          <img src="{% static 'images/hotdog.jpg' %}" />
          <h4>hotdog</h4>
        </div>

        <div class="beaverage-col">
          <img src="{% static 'images/cupcakes 2.jpg' %}" />
          <h4>muffins</h4>
        </div>
      </div>
    </section>

    <section class="profession">
      <h2>Profession</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio
        necessitatibus
      </p>

      <div class="pos_col">
        <img src="{% static 'images/coffee-6487101_1280.jpg' %}" />
        <div class="text_content">
          <h2>coffee automation</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe sunt
            inventore quidem dignissimos dolorum modi accusamus in nisi illo.
            Vitae libero, dicta repellendus sint a incidunt tenetur fuga fugit
            voluptatibus.
          </p>
        </div>
      </div>
    </section>

    {% endblock %}
  </body>
</html>
