{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/order.css'%}">
</head>
<body>
    <section class="header">
        <div class="icon">
            <div><a href="main.html"><h2 class="logo">Caffein' It</h2></a></div>
        </div>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="main.html">HOME</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about_us.html">ABOUT US</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="signup.html">SIGNUP</a></li>
                    
                </ul>
            </div>
         </nav>

    </section>     
    <div class="container">
  
        <form method="post">
            <div class="form-box">
                {% csrf_token %}
                <h1>Order your favorite</h1>
                <form>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Name"> {{form.name}}
                        </div>
                    </div>
                   
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="phone" placeholder="Phone"> {{form.phone}}
                        </div>
                    </div>

                    <div class="submit-oder">
                        <label for="drink-type">Choose item:</label>
                        <select id="drink-type" name="drinkType"> {{form.drink_type}}
                            <option value="espresso">Espresso</option>
                            <option value="latte">Latte</option>
                            <option value="cappuccino">Cappuccino</option>
                            <option value="americano">Americano</option>
                            <option value="cocacola">Cocacola</option>
                            <option value="Sprite">Sprite</option>
                            <option value="Fanta">Fanta</option>
                            <option value="Milkshake">Milkshake</option>
                            <option value="mango_juice">Mango juice</option>
                            <option value="passion_juice">Passion juice</option>
                        </select>
                        <br><br>
                        <label for="size">Choose  size:</label>
                        <select id="size" name="size"> {{form.size}}
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                        </select>
                        <br><br>
                    </div>
                    <div class="btn-field">
                        <button type="button">Place Order</button>
                        
                    </div>
                </form>
            </div>
        </form>
    </div>
    <section class="footer">
    
        <h4>About Us</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Magnam doloribus iste fugiat numquam officia porro, <br>qui reprehenderit sequi consequuntur aliquam eligendi illum omnis quas voluptates <br>repudiandae quaerat, iusto ab laboriosam.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
        
        
        
    </div>
    

 </section>
 <script src="https://kit.fontawesome.com/be4fbb70d9.js" crossorigin="anonymous"></script>
</body>
</html>