{% extends "base.html" %}

{% load static %}

    {% block title %}
   
    <title>order</title>
    <link rel="stylesheet" href="{%static 'css/order.css'%}">
    {% endblock title %}

    
    {% block content %}
    <!--order start-->
    <div class="container">
  
        <form method="post">
            <div class="form-box">
                {% csrf_token %}
                <h1>Order your favorite</h1>
                <form>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Name"> {{form.name}}
                        </div>
                    </div>
                   
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="phone" placeholder="Phone"> {{form.phone}}
                        </div>
                    </div>

                    <div class="submit-oder">
                        <label for="drink-type">Choose item:</label>
                        <select id="drink-type" name="drinkType"> {{form.drink_type}}
                            <option value="espresso">Espresso</option>
                            <option value="latte">Latte</option>
                            <option value="cappuccino">Cappuccino</option>
                            <option value="americano">Americano</option>
                            <option value="cocacola">Cocacola</option>
                            <option value="Sprite">Sprite</option>
                            <option value="Fanta">Fanta</option>
                            <option value="Milkshake">Milkshake</option>
                            <option value="mango_juice">Mango juice</option>
                            <option value="passion_juice">Passion juice</option>
                        </select>
                        <br><br>
                        <label for="size">Choose  size:</label>
                        <select id="size" name="size"> {{form.size}}
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                        </select>
                        <br><br>
                    </div>
                    <div class="btn-field">
                        <button type="button">Place Order</button>
                        
                    </div>
                </form>
            </div>
        </form>
    </div>
    <!--order end-->
    {% endblock content %}
   